<template>
  <div class="uk-background-muted uk-padding categories uk-text-left">
    <h3 class="selector-heading"><i class="fal fa-box-full" /> Категории</h3>
    <div class="">
      <ul class="uk-nav uk-nav-default uk-text-left">
        <li
          class="category-item"
          :class="{ highlight: selected === undefined }"
          @click="changeCategory('')"
        >
          <i class="fal fa-angle-right" /> Все Категории
        </li>
        <li v-for="item in GetCurrent" :key="item.id">
          <p
            v-if="item.visible != false"
            class="category-item"
            :class="{ highlight: selected === item.name }"
            @click="changeCategory(item)"
          >
            <i class="fal fa-angle-right" /> {{ item.name }}
          </p>
          <div v-if="item.subcategories" class="sub-category">
            <li v-for="sub in item.subcategories" :key="sub.slug">
              <p
                v-if="sub.visible != false"
                class="category-item"
                :class="{ highlight: selected === sub.name }"
                @click="changeCategory(sub)"
              >
                <i class="fal fa-angle-right" /> {{ sub.name }}
              </p>
              <div v-if="sub.subcategories" class="sub-category">
                <li v-for="subp in sub.subcategories" :key="subp.slug">
                  <p
                    v-if="subp.visible != false"
                    class="category-item"
                    :class="{ highlight: selected === subp.name }"
                    @click="changeCategory(subp)"
                  >
                    <i class="fal fa-angle-right" /> {{ subp.name }}
                  </p>
                </li>
              </div>
            </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    pagecategories: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      selected: this.$route.query.category,
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapState('modules/general', {
      Pages: (state) => state.pages
    }),
    GetCurrent() {
      const page = this.Pages.find(
        (page) => page.template === this.pagecategories
      )
      if (!page) {
        return null
      }
      return page.subcategories
    }
  },
  watch: {
    '$route.query'() {
      this.selected = this.$route.query.category
    }
  },
  methods: {
    changeCategory(value) {
      this.selected = value.name
      this.$router.push({
        query: { category: value.name }
      })
    }
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/category-selector.scss'
</style>
