<template>
  <div v-if="hot" id="hot">
    <transition-group name="fade" tag="div">
      <div v-for="i in [currentIndex]" :key="i">
        <vk-grid class="uk-flex-center slider-content">
          <div class="uk-width-1-3@xl uk-width-1-2@l">
            <img
              v-if="hot.images"
              class="slider-image"
              :src="mediaUrl + hot.images[0]"
            />
            <img
              v-if="hot.image"
              class="slider-image"
              :src="mediaUrl + hot.image"
            />
          </div>
          <div class="uk-grid-item-match uk-width-1-3@xl uk-width-1-2@l">
            <vk-card>
              <a
                @click="
                  $nuxt._router.push({
                    path: $route.path + '/' + hot.slug
                  })
                "
              >
                <h3>{{ hot.name }}</h3>
              </a>
              <p class="description">
                {{ stripHtml(hot.description).slice(0, 250) }}...
              </p>
              <p class="price">
                <b>Цена:</b> от <b>{{ hot.price }}</b> руб.
              </p>
              <p v-if="hots.length > 1" class="uk-text-right nav-arrows">
                <a class="prev" @click="prev">&#10094;</a>
                <a class="next" @click="next">&#10095;</a>
              </p>
            </vk-card>
          </div>
        </vk-grid>
      </div>
    </transition-group>
  </div>
</template>

<script>
import Tools from '~/components/tools/stripHTML'
export default {
  props: {
    hots: {
      type: Array,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      timer: null,
      currentIndex: 0,
      arrows: false
    }
  },
  computed: {
    hot() {
      if (!this.hots) {
        return null
      }
      return this.hots[Math.abs(this.currentIndex) % this.hots.length]
    }
  },
  mounted() {
    this.startSlide()
  },
  methods: {
    startSlide() {
      this.timer = setInterval(this.next, 8000)
    },
    next() {
      this.currentIndex += 1
    },
    prev() {
      this.currentIndex -= 1
    },
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/hot.scss'
</style>
