<template>
  <vk-grid
    id="item-list"
    gutter="collapse"
    class="uk-child-width-expand@m uk-text-center"
  >
    <div
      v-if="pagecategories !== 'news'"
      class="uk-width-1-5@l category-section"
    >
      <CategorySelector :pagecategories="pagecategories" />
    </div>
    <div>
      <div
        id="products"
        :key="pagecategories"
        class="uk-container uk-container-expand"
      >
        <!-- Cashboxes -->
        <vk-grid
          v-if="pagecategories === 'cashboxes'"
          v-vk-height-match="{ target: '> div > .uk-card' }"
          class="uk-child-width-1-2@m uk-text-center"
        >
          <CashboxItem
            v-for="cashbox in ObjectsFilter"
            :key="cashbox.id"
            :cashbox="cashbox"
          />
        </vk-grid>
        <!-- Services -->
        <vk-grid
          v-if="pagecategories === 'services'"
          v-vk-height-match="{ target: 'p.description' }"
          class="uk-child-width-1-3@xl uk-child-width-1-2@m uk-text-center"
        >
          <ServiceItem
            v-for="service in ObjectsFilter"
            :key="service.id"
            :service="service"
          />
        </vk-grid>
        <!-- Products -->
        <vk-grid
          v-if="pagecategories === 'products'"
          :key="pagecategories"
          v-vk-height-match="{ target: '.match' }"
          class="uk-child-width-1-3@xl uk-child-width-1-2@m uk-text-center"
        >
          <ProductItem
            v-for="product in ObjectsFilter"
            :key="product.id"
            :product="product"
          />
        </vk-grid>
        <!-- NEWS -->
        <vk-grid
          v-if="pagecategories === 'news'"
          v-vk-height-match="{ target: 'p.description' }"
          class="uk-child-width-1-3@l uk-text-center"
        >
          <NewsItem
            v-for="article in ObjectsFilter"
            :key="article.id"
            :article="article"
          />
        </vk-grid>
        <div id="end"></div>
      </div>
    </div>
  </vk-grid>
</template>

<script>
import CategorySelector from '~/components/partials/mixins/category-selector'
import CashboxItem from '~/components/pages/cashboxes/cashboxes-item'
import ProductItem from '~/components/pages/products/product-item'
import ServiceItem from '~/components/pages/services/service-item'
import NewsItem from '~/components/pages/news/news-item'
import Tools from '~/components/tools/stripHTML'
export default {
  components: {
    CategorySelector,
    CashboxItem,
    ProductItem,
    ServiceItem,
    NewsItem
  },
  props: {
    pagecategories: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      currentCategory: this.$route.query.category,
      Page: this.$store.state.modules.general.pages.find(
        (p) => p.url === this.$route.name
      )
    }
  },
  computed: {
    ObjectsFilter() {
      const categories = []
      // TODO REFACTOR
      if (
        this.Page.subcategories !== undefined &&
        this.Page.subcategories.length > 0
      ) {
        this.Page.subcategories.forEach((sc) => {
          if (sc.name === this.currentCategory) {
            categories.push(sc.name)
            if (sc.subcategories !== undefined && sc.subcategories.length > 0) {
              sc.subcategories.forEach((scd) => {
                if (scd.show_in_parent !== false) {
                  categories.push(scd.name)
                }
                if (
                  scd.subcategories !== undefined &&
                  scd.subcategories.length > 0
                ) {
                  scd.subcategories.forEach((scdd) => {
                    if (scdd.show_in_parent !== false) {
                      categories.push(scdd.name)
                    }
                  })
                }
              })
            }
          } else if (
            sc.subcategories !== undefined &&
            sc.subcategories.length > 0
          ) {
            sc.subcategories.forEach((scd) => {
              if (scd.name === this.currentCategory) {
                categories.push(scd.name)
                if (
                  scd.subcategories !== undefined &&
                  scd.subcategories.length > 0
                ) {
                  scd.subcategories.forEach((scdd) => {
                    if (scdd.show_in_parent !== false) {
                      categories.push(scdd.name)
                    }
                  })
                }
              } else if (
                scd.subcategories !== undefined &&
                scd.subcategories.length > 0
              ) {
                scd.subcategories.forEach((scdd) => {
                  if (scdd.name === this.currentCategory) {
                    categories.push(scdd.name)
                  }
                })
              }
            })
          }
        })
      }
      const obj = this.items.filter((obj) => categories.includes(obj.category))
      if (!obj) {
        return null
      }
      if (this.currentCategory === undefined) {
        return this.items
      }
      return obj
    },
    CurrentPage(state) {
      const page = this.$store.state.modules.general.pages.find(
        (page) => page.template === this.pagecategories
      )
      if (!page) {
        return null
      }
      return page
    }
  },
  watch: {
    '$route.query.category'() {
      this.currentCategory = this.$route.query.category
    }
  },
  methods: {
    stripHtml(value) {
      return Tools.strippedContent(value)
    },
    setCategory(value) {
      this.currentCategory = value
    }
  },
  head() {
    return {
      title: this.Page.seo_title,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.Page.seo_title
        },
        {
          hid: 'description',
          name: 'description',
          content: this.Page.seo_description
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.Page.seo_description
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: process.env.apiUrl + this.Page.seo_image
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: process.env.apiUrl + this.Page.seo_image
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            this.$store.state.modules.general.info.name + ', ' + this.Page.seo
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/item-list.scss'
</style>
