<template>
  <div id="ToOrder">
    <vk-modal :show.sync="$parent.Show" center>
      <vk-modal-close class="danger-text" @click="Close()"></vk-modal-close>
      <vk-modal-title slot="header">
        <i class="fal fa-file-signature" /> Офомление Заказа
      </vk-modal-title>
      <p>
        Оформите заказ, и наш специалист свяжется с вами для уточнения деталей.
      </p>
      <table class="uk-table uk-table-striped">
        <tbody>
          <tr>
            <td>
              <b> <i class="fal fa-box-check" /> Имя: </b>
            </td>
            <td>{{ itemname }}</td>
          </tr>
          <tr>
            <td>
              <b> <i class="fal fa-box-full" /> Пакет: </b>
            </td>
            <td>{{ itemselection }}</td>
          </tr>
          <tr>
            <td>
              <b> <i class="fal fa-wallet" /> Цена: </b>
            </td>
            <td>{{ itemprice }} руб</td>
          </tr>
        </tbody>
      </table>
      <div slot="footer" class="uk-text-right">
        <vk-button type="primary" @click="$parent.OrderShow = true">
          <i class="fal fa-file-signature" /> Оформить
        </vk-button>
      </div>
    </vk-modal>
    <!-- GuestData -->
    <!-- GuestData -->
    <!-- GuestData -->
    <ValidationObserver ref="reqform" v-slot="{ valid }">
      <vk-modal :show.sync="$parent.OrderShow" center>
        <vk-modal-close class="danger-text" @click="Close()" />
        <vk-modal-title v-if="!End" slot="header">
          <i class="fal fa-database" /> Ввод данных
        </vk-modal-title>
        <vk-modal-title v-if="End" slot="header" class="success-text">
          <i class="fal fa-box-check" /> Заказ оформлен!
        </vk-modal-title>
        <transition name="fade" tag="div">
          <div :key="End" class="modal-container">
            <!-- VALIDATION -->
            <vk-grid
              v-if="!End"
              gutter="small"
              class="uk-child-width-1-1 uk-text-center input-grid"
            >
              <div>
                <p>
                  Введите ваши данные для осуществления обратной связи.
                </p>
              </div>

              <div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <ValidationProvider
                      v-slot="{ errors }"
                      rules="required|min:4|max:35"
                      immediate
                    >
                      <a
                        class="uk-form-icon fal fa-user"
                        :class="{ invalid: errors[0] }"
                      ></a>
                      <input
                        v-model="Name"
                        class="uk-input icon-input"
                        type="text"
                        placeholder="Ваше Имя (Обязательное)"
                      />
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <ValidationProvider
                      v-slot="{ errors }"
                      rules="required|min:18"
                      immediate
                    >
                      <a
                        class="uk-form-icon fal fa-mobile-android"
                        :class="{ invalid: errors[0] }"
                      ></a>
                      <input
                        v-model="Phone"
                        v-mask="'+7 (###) ### ## ##'"
                        class="uk-input icon-input"
                        type="numbers"
                        placeholder="+7 (123) 456 78 90 (Обязательное)"
                      />
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="E-mail"
                      rules="email"
                      immediate
                    >
                      <a
                        class="uk-form-icon fal fa-inbox"
                        :class="{ invalid: errors[0] }"
                      ></a>
                      <input
                        v-model="Email"
                        class="uk-input icon-input"
                        type="email"
                        placeholder="Введите Email"
                      />
                    </ValidationProvider>
                  </div>
                </div>
              </div>
            </vk-grid>
            <div
              v-if="End"
              v-vk-height-match="{ target: '.input-grid' }"
              class="uk-text-center"
            >
              <p class="close-counter uk-text-right">
                Окно будет автоматически закрыто через <b>{{ counter }}</b> сек
              </p>
              <i class="fal fa-envelope-open-text send-icon" />
              <p>
                Благодарим за заказ, наш менеджер свяжется с вами в течении 10
                минут!
              </p>
            </div>
          </div>
        </transition>
        <div slot="footer" class="uk-text-right">
          <vk-button
            v-if="!End"
            :class="{ disabled: !valid }"
            type="primary"
            :disabled="!valid"
            @click="Send()"
          >
            <i class="fal fa-shipping-fast" /> Заказать
          </vk-button>
          <vk-button v-if="End" class="success disabled" type="primary">
            <i class="fal fa-box-check" /> Заказ оформлен
          </vk-button>
        </div>
      </vk-modal>
    </ValidationObserver>
    <!-- END VALIDATION -->
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mask } from 'vue-the-mask'
import { mapActions } from 'vuex'
export default {
  directives: {
    mask
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  props: {
    itemname: {
      type: String,
      default: ''
    },
    itemselection: {
      type: String,
      default: 'Отсутствует'
    },
    itemprice: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      Name: '',
      Phone: '',
      Email: '',
      End: false,
      counter: 5
    }
  },
  methods: {
    ...mapActions({
      sendMessage: 'modules/modal/send_message'
    }),
    Send() {
      this.End = !this.End
      this.AutoClose()
      const msg = new FormData()
      msg.append('name', this.Name)
      msg.append('phone', this.Phone)
      msg.append('email', this.Email)
      msg.append('product', this.itemname)
      msg.append('package', this.itemselection)
      msg.append('price', this.itemprice)
      this.sendMessage(msg)
    },
    Close() {
      setTimeout(() => {
        this.End = false
        this.counter = 5
      }, 2000)
      this.$parent.Show = false
      this.$parent.OrderShow = false
      this.Name = ''
      this.Email = ''
      this.Phone = ''
    },
    AutoClose() {
      if (this.counter > 0) {
        setTimeout(() => {
          this.counter -= 1
          this.AutoClose()
        }, 1000)
      } else {
        this.Close()
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/modal.scss'
</style>
