<template>
  <div id="Page-Description">
    <vk-grid
      class="uk-flex-center uk-aling-center uk-child-width-expand@m uk-padding-large"
    >
      <div class="">
        <vk-card class="page-description-images">
          <img
            v-if="description.products_image"
            class="current-img uk-card-default"
            :src="mediaUrl + description.products_image"
          />
        </vk-card>
      </div>
      <div class="description-space">
        <h3 class="uk-heading-bullet">{{ description.title }}</h3>
        <p
          class="description-container"
          v-html="description.products_description"
        />
      </div>
    </vk-grid>
  </div>
</template>

<script>
export default {
  props: {
    description: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/page-description.scss'
</style>
