<template>
  <client-only>
    <social-sharing
      id="social-share"
      :url="currentURL"
      :title="title"
      :description="stripHtml(description).slice(0, 230) + '...\n'"
      :quote="stripHtml(description).slice(0, 230) + '...\n'"
      :hashtags="hashtags.join(', ')"
      twitter-user="it-tehcon"
      inline-template
    >
      <div>
        <network network="email">
          <i class="fal fa-at email"></i>
        </network>
        <network network="facebook">
          <i class="fa fab fa-facebook facebook"></i>
        </network>
        <network network="odnoklassniki">
          <i class="fa fab fa-odnoklassniki odnoklassniki"></i>
        </network>
        <network network="telegram">
          <i class="fa fab fa-telegram telegram"></i>
        </network>
        <network network="twitter">
          <i class="fa fab fa-twitter twitter"></i>
        </network>
        <network network="vk"> <i class="fa fab fa-vk vkontakte"></i></network>
        <network network="whatsapp">
          <i class="fa fab fa-whatsapp whatsapp"></i>
        </network>
      </div>
    </social-sharing>
  </client-only>
</template>

<script>
import Tools from '~/components/tools/stripHTML'
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    quote: {
      type: String,
      default: ''
    },
    hashtags: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      URL: process.env.CORS
    }
  },
  computed: {
    currentURL() {
      if (process.client) {
        return document.location.href
      }
      return null
    }
  },
  methods: {
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass">
@import '~/assets/styles/partials/mixins/social-share.scss'
</style>
