<template>
  <div id="cashboxes-page" class="container">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-fire-alt" /> Популярное</span>
    </h2>
    <Hot :hots="Hots" />
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-cash-register" /> {{ GetCurrent.title }} </span>
    </h2>
    <PageDescription
      v-if="GetCurrent.products_description.length > 15"
      :description="GetCurrent"
    />
    <Cashboxes :items="Cashboxes" :pagecategories="PageCategories" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Cashboxes from '~/components/partials/mixins/item-list'
import Hot from '~/components/partials/mixins/hot'
import PageDescription from '~/components/partials/mixins/page-description'
export default {
  components: {
    Cashboxes,
    Hot,
    PageDescription
  },
  data() {
    return {
      PageCategories: this.$route.name
    }
  },
  computed: {
    ...mapState('modules/cashboxes', {
      Cashboxes: (state) => state.list
    }),
    ...mapState('modules/general', {
      Pages: (state) => state.pages
    }),
    GetCurrent() {
      const page = this.Pages.find((page) => page.template === this.$route.name)
      if (!page) {
        return null
      }
      return page
    },
    Hots() {
      if (!this.Cashboxes) {
        return null
      }
      return this.Cashboxes.filter((item) => item.hot === true)
    }
  },
  created() {
    this.getCashboxes()
  },
  methods: {
    ...mapActions({
      getCashboxes: 'modules/cashboxes/get_cashboxes'
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/cashboxes/page.scss'
</style>
