@import '../../variables.scss';

.image {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 300%;
    transition: all .01s linear;
}
.ymap-container {
    height: 450px;
    object-fit: cover;
}
.yamp-card .uk-card-body {
    padding: 0;
}