<template>
  <div id="light-theme">
    <canvas id="threejs" />
    <Navigation id="navigation" />
    <div id="website-pages" :class="{ isMenu: isMenu }">
      <Nuxt />
      <Footer id="footer" />
    </div>
  </div>
</template>
<script>
import Navigation from '~/components/partials/navigation'
import Footer from '~/components/partials/footer'
export default {
  components: {
    Footer,
    Navigation
  },
  data() {
    return {
      isMenu: false
    }
  },
  mounted() {
    if (process.browser) {
      import('~/plugins/three.background').then((m) => {})
    }
  },
  head() {
    return {
      title: this.$store.state.modules.general.info.name,
      meta: [
        {
          name: 'yandex-verification',
          content: this.$store.state.modules.general.info.custom_js
        },
        {
          hid: 'language',
          language: 'Russian'
        },
        {
          hid: 'lang',
          lang: 'ru'
        },
        {
          hid: 'author',
          name: 'author',
          content: this.$store.state.modules.general.info.meta
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.$store.state.modules.general.info.name
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.modules.general.info.meta
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: this.$store.state.modules.general.info.name
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$store.state.modules.general.info.meta
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content:
            process.env.apiUrl + this.$store.state.modules.general.info.logo
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content:
            process.env.apiUrl + this.$store.state.modules.general.info.logo
        },
        // Other
        {
          hid: 'apple-mobile-web-app-title',
          name: 'apple-mobile-web-app-title',
          content: this.$store.state.modules.general.info.name
        },
        {
          hid: 'application-name',
          name: 'application-name',
          content: this.$store.state.modules.general.info.name
        },
        {
          hid: 'short_name',
          name: 'short_name',
          content: this.$store.state.modules.general.info.name
        },
        {
          hid: 'theme-color',
          name: 'theme-color',
          content: 'light'
        }
      ],
      link: [
        {
          rel: 'apple-touch-icon',
          sizes: '57x57',
          href: '/favicon/apple-icon-57x57.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '60x60',
          href: '/favicon/apple-icon-60x60.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '72x72',
          href: '/favicon/apple-icon-72x72.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '76x76',
          href: '/favicon/apple-icon-76x76.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '114x114',
          href: '/favicon/apple-icon-114x114.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '120x120',
          href: '/favicon/apple-icon-120x120.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '144x144',
          href: '/favicon/apple-icon-144x144.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '152x152',
          href: '/favicon/apple-icon-152x152.png'
        },
        {
          rel: 'apple-touch-icon',
          sizes: '180x180',
          href: '/favicon/apple-icon-180x180.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '192x192',
          href: '/favicon/android-icon-192x192.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '32x32',
          href: '/favicon/android-icon-32x32.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '96x96',
          href: '/favicon/android-icon-96x96.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '16x16',
          href: '/favicon/android-icon-16x16.png'
        }
      ]
    }
  }
}
</script>
