<template>
  <div id="product">
    <vk-card>
      <div slot="media-top">
        <img
          v-if="product.images"
          class="fit-cover"
          :src="mediaUrl + product.images[0]"
          :alt="product.name"
        />
      </div>
      <div class="uk-text-left">
        <a
          @click="
            $nuxt._router.push({
              path: $route.path + '/' + product.slug
            })
          "
        >
          <vk-card-title class="match">
            <i class="fal fa-box-alt" /> {{ product.name }}
          </vk-card-title>
        </a>
        <p
          class="description"
          v-html="stripHtml(product.description).slice(0, 145) + '...'"
        >
          <!-- {{ stripHtml(product.description).slice(0, 145) }} ... -->
        </p>
        <p class="price uk-flex uk-flex-between">
          <span class="uk-text-left">
            <b>Цена:</b> от <b>{{ product.price }}</b> руб.
          </span>
          <a
            class="icon-link"
            @click="
              $nuxt._router.push({
                path: $route.path + '/' + product.slug
              })
            "
          >
            <i class="fal fa-angle-double-right" />
          </a>
        </p>
      </div>
    </vk-card>
  </div>
</template>

<script>
import Tools from '~/components/tools/stripHTML'
export default {
  props: {
    product: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  methods: {
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/products/product-item.scss'
</style>
