<template>
  <div id="services-page" class="container">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-fire-alt" /> Популярное</span>
    </h2>
    <Hot :hots="Hots" />
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-lamp-desk" /> {{ GetCurrent.title }}</span>
    </h2>
    <PageDescription
      v-if="GetCurrent.products_description.length > 15"
      :description="GetCurrent"
    />
    <Services :items="Services" :pagecategories="PageCategories" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Services from '~/components/partials/mixins/item-list'
import Hot from '~/components/partials/mixins/hot'
import PageDescription from '~/components/partials/mixins/page-description'
export default {
  components: {
    Services,
    Hot,
    PageDescription
  },
  data() {
    return {
      PageCategories: this.$route.name
    }
  },
  computed: {
    ...mapState('modules/services', {
      Services: (state) => state.list
    }),
    ...mapState('modules/general', {
      Pages: (state) => state.pages
    }),
    GetCurrent() {
      const page = this.Pages.find((page) => page.template === this.$route.name)
      if (!page) {
        return null
      }
      return page
    },
    Hots() {
      if (!this.Services) {
        return null
      }
      return this.Services.filter((item) => item.hot === true)
    }
  },
  created() {
    this.getServices()
  },
  methods: {
    ...mapActions({
      getServices: 'modules/services/get_services'
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/services/page.scss'
</style>
