@import "./variables.scss";
@import "./fonts/font.scss";

// GENERAL SETTINGS
html {
  font-family: "Vladivostok";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll !important;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  // font-family: "Vladivostok";
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $bold;
  color: $primary;
}

h2.uk-heading-line>span {
  background: $primary;
  color: #fff;
  padding: 1rem 3rem;
}

h2 i {
  transform: scale(1.1);
  margin-right: .6rem;
}

section {
  margin-top: 2rem;
}

b {
  color: $primary;
}

.uk-heading-line> ::before,
.uk-heading-line> ::after {
  content: "";
  position: absolute;
  top: calc(50% - (2px / 2));
  width: 2000px;
  border-bottom: 1px solid $border-color;
}

.uk-heading-bullet::before {
  border-left: 5px solid $danger;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#threejs {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

//Main Classes Injector
.fit-cover {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.sub-footer img {
  transform: translateY(-2px);
}

.uk-label {
  font-weight: $bold;
  background: $primary;
  color: $font-color-white;
  border-radius: 0;
  opacity: .8;
  padding: .25rem .5rem;
}

// Item 
.description ol {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.15rem;
}


// LINKS
.icon-link {
  color: $primary;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.8) translateX(5px);
  transition: all .15s ease-in;
}

.uk-card:hover .icon-link {
  opacity: 1;
  transform: scale(1.8) translateX(0px);
  transition: all .15s ease-out;
}

// PAGES SETTINGS
#website-pages {
  transform: translateY(0px);
  opacity: 1;
  transition: opacity .3s ease-out, transform .4s ease-out;
  transition-delay: .3s;
}
#item-page,
.container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.uk-card-primary, .uk-card-primary.uk-card-hover:hover {
  background: $primary;
}
// Forms Settings
.uk-form-icon {
  position: absolute;
  top: .68rem;
  bottom: 0;
  left: 0;
  width: 40px;
  color: $primary;
  font-size: 1.2rem;
}

// Prelinked Styles
.danger {
  color: #fff;
  background-color: $danger;
}

.danger-text {
  color: $danger;
}

.success {
  color: #fff;
  background-color: $success;
}

.success-text {
  color: $success;
}
.disabled {
  pointer-events: none;
}
.disabledButton {
  pointer-events: none;
  background: $darkgray;
  cursor: pointer;
}
.noDisplay {
  display: none;
}
// Tables
.hoverable.bordered.striped{
  width: 100%;
}
// Error Page 
.__nuxt-error-page {
  position: relative;
  padding: 0;
  height: 100vh;
  top: 0;
  margin: 0;
}
// Yandex Maps
.ymaps-2-1-75-float-button {
  display: none;
}

#Page-Description .uk-grid {
  align-items: center;
}
.page-description-images {
  box-shadow: none;
  background: transparent;
}
.page-description-images .uk-card-body {
  padding: 0;
  box-shadow: none;
}
.page-description-images .uk-card-default {
  padding: 2rem;
  box-shadow: none;
  width: 100%;
  background: transparent;
  max-height: 450px;
}


// Page Transitions
.page-enter-active,
.page-leave-active {
  transition: opacity .2s ease, transform .3s ease-out;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}
#website-pages.isMenu {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out, transform .4s ease-in;
  overflow: hidden;
}
// Loading Animation
.slide-out-top, .loaded {
	-webkit-animation: slide-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation-delay: 1.2s;
}

 @-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px) scaleX(.6);
            transform: translateY(-500px) scaleX(.6);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px) scaleX(.6);
            transform: translateY(-500px) scaleX(.6);
    opacity: 0;
    display: none;
  }
}
