// FONTS VARIABLES
$font: 'Source Sans Pro', sans-serif !important;
$font-color: #161925;
$font-color-alt: #606266;
$font-color-white: #fff;
$thin: 300;
$bold: 600;
$black: 800;
// THEME COLORS
// $primary: #083D77;
$primary: #0D47A1;
$primary-transparent: rgba(13, 71, 161, .92);
$primary-alt: #1e87f0;
$primary-light: #628CCE;
$success: #67C23A;
$warning: #FDD835;
$danger: #DA2C38;
$danger-light: #ff9890;
$info: #909399;
$darkgray: #666;
$lightgray: #e5e5e5;
// BACKGROUNDS
$background-black: #161925;
$background-white: #fff;
$background-transparent: transparent;
$border-color: rgb(50, 86, 141);