@import "../../variables.scss";

.selector-heading {
  color: $primary;
}

.category-item {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem 0;
}

.category-item:hover {
  color: $primary;
}

.category-item i {
  color: $primary;
  transform: translate(-4px);
  transition: transform .15s ease-out;
}

.highlight {
  color: $primary;
}

.highlight i {
  color: red;
  transform: translate(0px);
  transition: transform .15s ease-out;
}
.sub-category {
  padding-left: 1rem;
}