@import '../../variables.scss';


#hot {
  min-height: 380px;
}

b {
  color: $primary;
}
ol {
 list-style: red;
}
.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
  width:100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  position: absolute;
  width:100%;
  opacity: 0;
}
.slider-content {
  padding: 0 2rem;
}
.slider-image {
  object-fit: contain;
  height: 320px;
  width: 100%;
}
.uk-card-body {
  min-height: 320px;
}
.price {
  position: absolute;
  left: 40px;
  bottom:40px;
  font-size: 1.1rem;
}
.description {
  padding-bottom: 4rem;
}
.nav-arrows {
  position: absolute;
  bottom: 38px;
  right: 40px;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 12px;
  color: $primary;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  text-decoration: none;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: $primary;
  color: $font-color-white;
}