@import '../../variables.scss';

  b {
    color: $primary;
  }
  .uk-card-title {
    color: $primary;
  }
  .table-head th {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .product-images {
    height: 340px;
    width: 100%;
    padding: 0;
  }
  .product-images .uk-card-body {
    height: 340px;
    width: 100%;
    padding: 0;
  }

  .image-selector {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .current-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .thumb-selector {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 3px;
    border: 2px solid $info;
  }
  .activeImg {
    border-color: $danger;
  }
  .img-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .part-title {
    font-size: 1.8rem;
    font-weight: $bold;
  }
  .related{
    margin: 2rem 0rem;
    padding: 2rem;
  }
  .related-heading {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
  .related-heading-item {
    font-size: .8rem;
    margin:.4rem 0 0 0;
  }
  .related-img {
    height: 80px;
    object-fit: contain;
  }
  .related-padding {
    padding: .2rem;
    width: 100%;
    margin-left: 0;
  }
  .related-product {
    padding: .4rem;
    margin-top: 0;
  }
  .related-card {
    padding: .5rem;
    // border: 1px solid $info;
  }
  
  .price-specifications, .info-space {
    padding: 1rem;
    border: 1px solid $lightgray;
    height: 100%;
    margin-left: 2rem;
  }
.table-border {
  margin-bottom: 0;
}
.buy-button {
  text-transform: capitalize;
  font-weight: $bold;
  border-color: $primary;
  color: $primary;
}
.buy-button i {
  color: $primary;
}
.uk-nav {
  text-transform: capitalize;
}
// News
.article-image {
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all .1s linear;
}
.tag-head {
  margin-bottom: .2rem;
  text-transform: uppercase;
}
.tag {
  background: $lightgray;
  padding: .2rem .6rem;
  margin: .2rem;
  color: $primary;
  font-size: .85rem;
  cursor: pointer;
}
  // ANIMATION
  .item-enter-active,
  .item-leave-active {
    transition: all .3s ease-out;
    transform: translateY(0);
    opacity: 1;
    transform-origin: bottom;
  }
  
  .item-enter,
  .item-leave-to {
    transform: translateY(50px);
    opacity: 0;
    transform-origin: bottom;
  }

.itemGrid{
  transform: scale(.7);
  transition: transform .8s ease;
}