@import "../../variables.scss";

.uk-modal {
  z-index: 1130;
  background: rgba(8, 40, 88, 0.7);
}

.modal-container {
height: 200px;
}
.send-icon {
  font-size: 5rem;
  color: $success;
  padding: 2rem;
}
.icon-input {
  padding-left: 40px;
}
.close-counter {
  font-size: .8rem;
}
.invalid {
  border-color: red;
  color: red;
}
.disabled {
  touch-action: none;
  pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease-out;
  transform: translateX(0px);
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
  position: absolute;
}