@import "../../variables.scss";

.description-space {
    background: $primary;
    padding: 4rem;
    margin-left: 30px;
}
.description-space h3 {
    color: $font-color-white;
}
.description-space .description-container {
    color: $font-color-white;
}