@import "../../variables.scss";

#social-share {
  margin: 1rem 0rem 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fa.fab,
.fal.email {
  font-size: 2rem;
  cursor: pointer;
  margin: 0, 1rem;
}

// .fa.fab:hover,
// .fal.email:hover {
//   color: $primary;
// }

.facebook:hover {
  color: #3b5998;
}

.email:hover {
  color: $danger;
}

.odnoklassniki:hover {
  color: #ed812b;
}
.telegram:hover {
  color: #0088cc;
}
.twitter:hover {
  color: #1DA1F2;
}
.vkontakte:hover {
    color: #4680C2;
  }
  .whatsapp:hover {
    color: #44bd5a;
  }