@import "../../variables.scss";

#news {
  margin: 5rem;
}
#news h2 {
  color: $primary;
  margin-bottom: 5rem;
}
.uk-card-title {
  color: $primary;
  font-size: 1.2rem;
}
.news-image {
  height: 10rem;
  width: 50rem;
  object-fit: cover;
}
.uk-flex p {
  padding-left: 2rem;
}
.uk-card-text {
  min-height: 158px;
}
.uk-button-text::before {
  border-bottom: none;
}
.uk-button {
  font-size: 1rem;
  font-weight: $bold;
}
.uk-card-badge {
  top: 25px;
}
.uk-label {
  font-weight: $bold;
  // background: none;
  color: $font-color-white;
}
.uk-card-footer {
  padding: 20px 40px 25px 40px;
}

// News INSPIRATION
.uk-card-body {
  padding: 0 2rem 2rem;
  word-wrap: word-break;
}
.card-content {
  background: #fff;
  color: $darkgray;
  height: calc(300px - 2rem);
  width: 50%;
  padding: 2rem
}
.card-content > p {
  padding-top: 2rem;
  font-size: .9rem;
}

.hover-zoom {
  float: left;
  margin: 0;
  height: 300px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: 120%;
  position: relative;
}
.hover-zoom:hover {
  background-position: 0% 50%;
  background-size: 120%;
}
//Read icon
.uk-card-badge-bottom {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  font-size: 18px;
  padding-top: .6rem;
  border-radius: 50%;
  z-index: 1;
  background: #1e87f0;
  transform: scale(.5);
  opacity: 0;
  transition: transform .3s ease-in, opacity .2s ease-out;
}
.hover-zoom:hover .uk-card-badge-bottom {
  opacity: 1;
  transform: scale(1);
  transition: transform .3s ease-out, opacity .2s ease-in;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .hover-zoom {
    height: 400px;
  }
  .uk-card-body {
    padding: 10rem 0 0;
    width: 100%;
}
.card-content {
  background: #fff;
  color: $darkgray;
  height: calc(400px - 10rem);
  width: calc(100% - 5rem);
  padding: 2rem
}
.uk-card-badge-bottom {
  bottom: 1rem;
  right: 1rem;
}
 }