@import "../../variables.scss";

@media screen and (min-width: 800px) {
  #itc {
    margin: 5rem;
  }
}
.itc-description {
  background: $primary;
}

.itc-block {
  transform: translateY(-5rem);
}
//Card Inspiration
.uk-heading-bullet::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(0.5 * 1em);
  vertical-align: middle;
  width: 13%;
  margin-right: 2px;
  border-left: none;
  border-bottom: 4px solid $danger;
}
option {
  font-weight: 400;
}
.uk-heading-bullet {
  font-size: 3rem;
  color: $font-color-white;
}
.itc-description {
  color: $font-color-white;
  padding-left: 20%;
  max-width: 60%;
}
.fit-cover {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: -17%;
  top: 30%;
  padding: 0;
  height: 80%;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
}
.fit-cover .uk-card-body {
  padding: 0;
}
.uk-card-body p {
  padding-bottom: 1.5rem;
}
.uk-button {
  margin: 0 40px 40px 0;
}
.uk-button-secondary {
  color: $font-color-white;
  float: right;
  font-weight: $bold;
  background: transparent;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.uk-button-secondary:hover {
  color: $primary;
  background: #fff;
  transition: all 0.3s ease;
  border-color: $font-color-white;
}
.uk-select {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: $font-color-white;
  background-color: $primary;
}
.price {
  font-size: 1.2rem;
  font-weight: $bold;
  display: flex;
}
.price-value {
  padding: 0 .5rem;
}

.uk-select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 8%;
  background-position: 92% 55%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 551.13 551.13'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M275.565 361.679L51.668 137.783H0l275.565 275.565L551.13 137.783h-51.668z'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 1366px) {
  .itc-description {
    max-width: 80%;
    padding-left: 25%;
  }
}
@media screen and (max-width: 1466px) {
  .itc-description {
    max-width: 80%;
    padding-left: 25%;
  }
  #itc {
    margin: 2rem;
  }
}
@media screen and (max-width: 600px) {
  #itc {
    margin: 0rem;
  }
}

@media screen and (max-width: 800px) {
  .itc-description {
    max-width: 100%;
    padding: 2rem;
  }
  .fit-cover {
    position: relative;
  }
}
// ANIMATION SLIDER
.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease-in;
  transform: translateX(0px);
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
  position: absolute;
}