@import "../../variables.scss";

h2 {
  color: $primary;
  background-color: transparent;
  padding: 1.2rem 0;
  text-transform: capitalize;
}
h2.info {
  background-color: transparent;
  color: $primary;
}
.about {
  color: $font-color-white;
  background: $primary;
}
.uk-heading-bullet::before {
  border-left: 5px solid $danger;
}
.uk-card-default {
  background: rgba(255, 255, 255, 0.7);
}
.uk-card-title {
  color: $primary;
  font-size: 1.2rem;
  font-weight: $bold;
  margin: 0 0 0.5rem 0;
}
.price {
  color: $primary;
  font-size: 1rem;
  font-weight: $bold;
}
.uk-heading-bullet-right::after {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(-0.1 * 1em);
  vertical-align: middle;
  height: 0.9em;
  margin-left: 10px;
  border-left: 5px solid $danger;
}

.uk-card-body {
  padding: 20px;
}
.card-description {
  font-size: 15px;
}
.uk-grid-small > * {
  padding-left: 0;
}
.uk-card {
  width: 100%;
  min-height: 140px;
  // background: transparent;
  // box-shadow: none;
}
.uk-label {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: .92;
}
@media screen and (max-width: 600px) {
  .fit-cover {
    background-size: cover;
    height: 100px;
  }
}
