@import "../../variables.scss";

@media screen and (min-width: 800px) {
  #services {
    margin: 5rem;
  }
}
#services h2 {
  color: $primary;
  margin-bottom: 5rem;
  font-weight: $bold;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
}
