@import '../../variables.scss';

b {
  color: $primary;
}

.tilt {
    transform: scale(.9) translateY(.1rem);
    color: $font-color-white;
    background: $danger;
    padding: .3rem .4rem;
  }
  .uk-card-header {
    height: 250px;
    background-size: cover;
    background-position: 50% 0%;
    transition: all 0.4s ease-in-out;
  }
  .uk-card:hover > .uk-card-header {
    background-position: 50% 10%;
  }
  .uk-text-meta {
    width: 50%;
    color: $primary-light;
  }
  .uk-card-title {
    font-size: 1.3rem;
    color: $primary;
    font-weight: $bold;
  }
  .uk-width-expand {
    width: 100%;
  }
  .uk-button-text::before {
    border-bottom: 1px solid $primary;
  }
  .button-link {
    color: $primary;
  }
  .button-label {
    pointer-events: none;
  }