<template>
  <div id="service">
    <div class="uk-card uk-card-default uk-text-left">
      <div
        class="uk-card-header service-image"
        :style="{
          'background-image': 'url(' + mediaUrl + service.image + ')'
        }"
      >
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <a
              @click="
                $nuxt._router.push({
                  path: '/services/' + service.slug
                })
              "
            >
              <h3 class="uk-card-title uk-margin-remove-bottom">
                <i class="tilt fal fa-terminal" /> {{ service.name }}
              </h3>
            </a>
            <p class="uk-text-meta uk-margin-remove-top">
              <span
                v-for="tag in service.tags.slice(0, 3)"
                :key="tag"
                class="tags"
                >{{ tag }},
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <p
          class="description"
          v-html="stripHtml(service.description).slice(0, 200)"
        ></p>
      </div>
      <div class="uk-card-footer uk-flex uk-flex-between uk-flex-wrap">
        <span href="#" class="uk-button uk-button-text button-label price-item">
          <b>Цена:</b> от <b>{{ service.price }}</b> руб.
        </span>
        <a
          class="uk-button uk-button-text button-link"
          @click="
            $nuxt._router.push({
              path: '/services/' + service.slug
            })
          "
        >
          Побробнее <i class="fal fa-cog" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Tools from '~/components/tools/stripHTML'
export default {
  props: {
    service: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  methods: {
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/services/service-item.scss'
</style>
