<template>
  <section id="article-page" class="container uk-container uk-container-expand">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-typewriter" /> {{ Item.title }}</span>
    </h2>
    <Error v-if="!Item.title" />
    <div v-if="Item.title" class="uk-flex uk-flex-center">
      <vk-card class="uk-width-5-6@l uk-width-1-1">
        <vk-label slot="badge">Дата: {{ Item.timestamp }}</vk-label>
        <div slot="media-top">
          <div
            class="uk-width-1-1 article-image"
            :style="{
              'background-image': 'url(' + mediaUrl + Item.images + ')',
              'background-position': '50%' + ScrollY + '%'
            }"
          />
        </div>
        <div>
          <vk-grid
            gutter="small"
            class="uk-child-width-expand@s uk-text-center"
          >
            <div
              class="description uk-width-1-1 uk-width-4-5@l"
              v-html="Item.content"
            />
            <div class="info-space uk-flex uk-flex-wrap">
              <h4 class="uk-width-1-1 uk-text-left tag-head">
                Ключевые слова:
              </h4>
              <p v-for="item in Item.seo" :key="item" class="tag">
                {{ item }}
              </p>
            </div>
          </vk-grid>
        </div>
      </vk-card>
    </div>
    <!-- Main Grid -->
  </section>
</template>

<script>
import { mapState } from 'vuex'
import Error from '~/components/partials/error'
export default {
  components: {
    Error
  },
  async fetch({ store, params }) {
    await store.dispatch('modules/item/get_item', params.article)
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      ScrollY: 40
    }
  },
  computed: {
    ...mapState('modules/item', {
      Item: (state) => state.data
    })
  },
  mounted() {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll() {
      if ((this.ScrollY = window.pageYOffset / 20 + 40 < 90)) {
        this.ScrollY = window.pageYOffset / 20 + 40
      } else {
        this.ScrollY = 89.99
      }
    }
  },
  head() {
    return {
      title: this.Item.seo_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            this.$store.state.modules.general.info.name +
            ' / ' +
            this.Item.seo_description
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content:
            this.$store.state.modules.general.info.name +
            ' / ' +
            this.Item.title
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content:
            this.$store.state.modules.general.info.name +
            ' / ' +
            this.Item.seo_description
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            this.$store.state.modules.general.info.name + ', ' + this.Item.seo
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: process.env.apiUrl + this.Item.seo_image
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: process.env.apiUrl + this.Item.seo_image
        }
      ]
    }
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/item.scss'
</style>
