<template>
  <div id="news-page" class="container">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-newspaper" /> {{ GetCurrent.title }}</span>
    </h2>
    <PageDescription
      v-if="GetCurrent.products_description.length > 15"
      :description="GetCurrent"
    />
    <News :items="News" :pagecategories="PageCategories" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import News from '~/components/partials/mixins/item-list'
import PageDescription from '~/components/partials/mixins/page-description'
export default {
  components: {
    News,
    PageDescription
  },
  data() {
    return {
      PageCategories: this.$route.name
    }
  },
  computed: {
    ...mapState('modules/news', {
      News: (state) => state.list
    }),
    ...mapState('modules/general', {
      Pages: (state) => state.pages
    }),
    GetCurrent() {
      const page = this.Pages.find((page) => page.template === this.$route.name)
      if (!page) {
        return null
      }
      return page
    }
  },
  created() {
    this.getNews()
  },
  methods: {
    ...mapActions({
      getNews: 'modules/news/get_news'
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/news/page.scss'
</style>
