<template>
  <div id="cashbox-item">
    <div class="cashbox-card uk-card uk-card-hover uk-card-default">
      <div class="cashbox-table">
        <table class="uk-table uk-table-striped">
          <tbody>
            <tr v-for="(td, index) in cashbox.option" :key="index">
              <td>{{ td }}</td>
              <td>{{ cashbox.option_value[index] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <aside>
        <img
          class="cashbox-image"
          :src="mediaUrl + cashbox.images[0]"
          :alt="cashbox.name"
        />
        <a
          class="button icon-button"
          @click="
            $nuxt._router.push({
              path: '/cashboxes/' + cashbox.slug
            })
          "
        >
          <i class="fal fa-receipt" />
        </a>
      </aside>

      <article>
        <h2 class="uk-heading-bullet uk-text-left">{{ cashbox.name }}</h2>
        <ul class="quick-info uk-text-right">
          <li>
            <i class="fal fa-dolly-flatbed-alt" /><span>{{
              cashbox.category
            }}</span>
          </li>
          <li>
            <i class="fal fa-ruble-sign" /><span>от {{ cashbox.price }}</span>
          </li>
        </ul>
        <div class="match uk-text-left">
          <p
            class="cashbox-text"
            style="font-size: .8rem !important; font-family: 'Vladivostok' !important; "
            v-html="cashbox.description"
          ></p>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cashbox: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/cashboxes/cashbox-item.scss'
</style>
