<template>
  <section id="about-info" class="uk-container uk-container-large">
    <vk-grid v-if="About" class="uk-text-center" matched>
      <div class="uk-width-2-3@l">
        <vk-card>
          <vk-card-title class="uk-text-left">
            <b> <i class="fal fa-city" /> О Компании </b>
          </vk-card-title>
          <p v-html="About.about_description"></p>
        </vk-card>
      </div>
      <div class="uk-width-1-3@l uk-width-1-2@s">
        <vk-card
          class="image uk-width-1-1"
          :style="{
            'background-image': 'url(' + mediaUrl + About.about_image + ')',
            'background-position': ScrollX + '%' + '50%'
          }"
        >
        </vk-card>
      </div>
      <div class="uk-width-1-3@l uk-width-1-2@s">
        <vk-card type="primary" class="uk-light uk-text-left">
          <vk-card-title>
            <i class="fal fa-clipboard-list" /> Реквизиты:
          </vk-card-title>
          <ul>
            <li v-for="item in About.about_info" :key="item">{{ item }}</li>
          </ul>
        </vk-card>
      </div>
      <div class="uk-width-2-3@l uk-width-1-2@s">
        <vk-card class="yamp-card">
          <div v-if="isMounted">
            <yandex-map :coords="[51.754613, 36.225322]" class="map">
              <ymap-marker
                marker-id="ItTehcon"
                marker-type="placemark"
                hint-content="Компания ООО Техкон"
                :coords="[51.754613, 36.225322]"
                :icon="markerIcon"
              ></ymap-marker>
            </yandex-map>
          </div>
        </vk-card>
      </div>
    </vk-grid>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { yandexMap, ymapMarker } from 'vue-yandex-maps'
export default {
  components: { yandexMap, ymapMarker },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      ScrollX: 30,
      markerIcon: {
        layout: 'default#imageWithContent',
        imageHref: 'https://image.flaticon.com/icons/svg/2196/2196740.svg',
        imageSize: [43, 43],
        imageOffset: [-33, -55],
        content: 'ООО Техкон',
        contentOffset: [0, 45],
        contentLayout:
          '<div style="background: #0D47A1; padding: 10px; width: 100px; color: #fff; font-weight: bold;">$[properties.iconContent]</div>'
      },
      isMounted: false
    }
  },
  computed: {
    ...mapGetters({
      About: 'modules/general/About'
    })
  },
  mounted() {
    this.isMounted = true
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll() {
      if (window.pageYOffset / 20 + 30 < 90) {
        this.ScrollX = window.pageYOffset / 20 + 30
      } else {
        this.ScrollX = 89.999
      }
    }
  },
  head() {
    return {
      title: this.$store.state.modules.general.info.name + ' / О нас',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.About.seo
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.About.seo
        },
        {
          property: 'og:site_name',
          name: 'og:site_name',
          content: this.$store.state.modules.general.info.name + ' / О нас'
        },
        {
          property: 'og:title',
          name: 'og:title',
          content: this.$store.state.modules.general.info.name + ' / О нас'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.About.seo
        },
        {
          property: 'og:image',
          name: 'og:image',
          content:
            process.env.apiUrl + this.$store.state.modules.general.info.logo
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/about/information.scss'
</style>
