<template>
  <vk-grid
    class="uk-child-width-1-3@s uk-text-center uk-flex uk-flex-center uk-flex-middle"
  >
    <div>
      <vk-card>
        <h1>Страница не найдена</h1>
        <nuxt-link to="/">Вернуться на главную</nuxt-link></vk-card
      >
    </div>
  </vk-grid>
</template>
