<template>
  <section id="footer">
    <div class="footer-content uk-background-primary uk-padding uk-light">
      <!-- Heading -->
      <vk-grid
        gutter="collapse"
        class="uk-child-width-expand@s uk-text-center uk-grid-divider divider-hidden footer-heads"
      >
        <div>
          <h3 class="footer-heading">
            <span><i class="fal fa-books"></i> Информация</span>
          </h3>
        </div>
        <div class="uk-width-1-4@l">
          <h3 class="footer-heading">
            <span><i class="fal fa-briefcase"></i> Контакты</span>
          </h3>
        </div>
        <div class="uk-width-1-4@l">
          <h3 class="footer-heading">
            <span><i class="fal fa-layer-group"></i> Навигация</span>
          </h3>
        </div>
      </vk-grid>
      <!-- Content -->
      <vk-grid
        gutter="collapse"
        class="uk-child-width-expand@s uk-grid-divider footer-content-padding"
      >
        <vk-grid class="uk-flex uk-flex-middle">
          <img
            :src="mediaUrl + Info.footer_logo"
            class="uk-width-1-4@l footer-logo"
            @click="$nuxt._router.push('/')"
          />
          <p class="uk-width-3-4@l" v-html="Info.footer_info"></p>
        </vk-grid>
        <div class="uk-width-1-4@m uk-text-left uk-text-middle contact-info">
          <div class="contact-content uk-flex uk-flex-middle uk-flex-wrap">
            <p class="contact-line">
              <i class="fal fa-location-arrow" /> <b>Адрес:</b>
              {{ Info.address }}
            </p>
            <p class="contact-line">
              <i class="fal fa-hourglass-half" /> <b>Рабочие часы:</b>
              {{ Info.time }}
            </p>
            <p class="contact-line">
              <i class="fal fa-phone-office" /> <b>Номер телефона:</b>
              {{ Info.phone }}
            </p>
            <p class="contact-line">
              <i class="fal fa-envelope-open-text" /> <b>Контактный Email:</b>
              {{ Info.email }}
            </p>
            <div class="uk-flex social-grid">
              <a v-if="Info.social_vk" :href="Info.social_vk" rel="nofollow">
                <Vk />
              </a>
              <a
                v-if="Info.social_viber"
                :href="Info.social_viber"
                rel="nofollow"
              >
                <Viber />
              </a>
              <a
                v-if="Info.social_telegram"
                :href="Info.social_telegram"
                rel="nofollow"
              >
                <Telegram />
              </a>
              <a
                v-if="Info.social_instagram"
                :href="Info.social_instagram"
                rel="nofollow"
              >
                <Instagram />
              </a>
              <a
                v-if="Info.social_facebook"
                :href="Info.social_facebook"
                rel="nofollow"
              >
                <Facebook />
              </a>
            </div>
          </div>
        </div>
        <div class="uk-width-1-4@m">
          <div class="footer-navigation">
            <vk-nav class="uk-nav-primary uk-nav-parent-icon">
              <li
                v-for="page in Pages"
                :key="page.id"
                class="uk-parent uk-text-left"
              >
                <a
                  @click="
                    $nuxt._router.push({
                      name: page.url,
                      params: { pageTitle: page.title }
                    })
                  "
                  >{{ page.title }}</a
                >
              </li>
            </vk-nav>
          </div>
        </div>
      </vk-grid>
      <!-- Sub Footer -->
    </div>
    <div class="sub-footer">
      <span v-html="Info.footer_copyrights"></span>
    </div>
  </section>
</template>

<script>
// Main
import { mapState } from 'vuex'
// SVGs
import Vk from '~/assets/images/social/vk.svg?inline'
import Viber from '~/assets/images/social/viber.svg?inline'
import Telegram from '~/assets/images/social/telegram.svg?inline'
import Instagram from '~/assets/images/social/instagram.svg?inline'
import Facebook from '~/assets/images/social/facebook.svg?inline'
// Code
export default {
  components: {
    Vk,
    Viber,
    Telegram,
    Instagram,
    Facebook
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      clock: false
    }
  },
  computed: {
    ...mapState('modules/general', {
      Pages: (state) => state.pages,
      Info: (state) => state.info
    })
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/footer.scss'
</style>
