<template>
  <div class="loading-page" :class="{ loaded: Loaded }">
    <div class="loading-logo">
      <Logo />
      <p class="loading-text"><b>Загружается...</b></p>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Logo from '~/assets/images/logo.svg?inline'
export default {
  components: {
    Logo
  },
  computed: {
    ...mapState('modules/general', {
      Loaded: (state) => state.loaded
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/loading.scss'
</style>
