<template>
  <div>
    <div class="box-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.2"
        viewBox="0 0 3300 900"
        class="svglogo"
      >
        <defs />
        <path
          fill="#C62828"
          d="M1630.7 645.3l65.8-88.9 41.4-56.8 53.4-72.2 160.2-218.3h44.9l-143.6 194.8-12.8 17.5 11.5 18.8 151.2 250.4h-42.3L1842.2 495l-25.2-41.9-29.1 39.3-49.6 67.5-6.4 8.5v122.2h-35.5v-75.2l-65.8 88.9V756h167.1V589.8l14.1-19.2 102.5 169.6 9.8 15.8h194.8l-30.3-49.6-170-281.1 168.8-229.4 38.4-52.1h-207.2l-9.8 13.2-12 16.7-99.1 134.6-65.8 88.9-35.5 48.7V209.1h35.5v129.5l65.8-89.3V143.8h-167.1v501.5zm438.4-183.7l.4.4v7.7l.4.4v5.1l.4.4v4.3l.4.4v2.1h103.4c7.7 43.9 26.6 80.9 56.8 111.1h.4c18.5 18.8 40.5 33.7 64.7 44 24.6 10.5 51 15.8 79.2 15.8 54.1.2 106-21.3 144-59.8 18.6-18.6 33.4-40.6 43.8-64.7 10.7-24.6 16-51.1 16-79.3 0-28.2-5.3-54.6-16-79.3-10.4-24.2-25.2-46.1-43.8-64.7-38-38.5-89.9-60.1-144-59.8-28.2 0-54.6 5.3-79.2 15.8-24.3 10.3-46.3 25.2-64.7 44h-.4c-21.1 21.1-37.3 46.7-47.4 74.8h71.8c6.2-10.4 13.6-20.1 22.2-28.6 26.8-27.1 59.4-40.6 97.8-40.6 38.2 0 70.8 13.5 97.8 40.6 26.8 27.1 40.2 59.7 40.2 97.8 0 38.2-13.4 70.8-40.2 97.8-27.1 27.1-59.7 40.6-97.8 40.6-38.4 0-71.1-13.5-97.8-40.6-27.1-27.1-40.6-59.7-40.6-97.8 0-10.8 1.3-21.6 3.8-32h-104.2c8.3-54.7 31-100.7 68.4-138 22.2-21.9 48.3-39.4 76.9-51.7 29.1-12.5 60.2-18.8 93.6-18.8 32.1-.2 63.9 6.2 93.4 18.8 57.8 24.5 103.8 70.5 128.4 128.2 12.5 29.1 18.8 60.2 18.8 93.6 0 33.3-6.3 64.5-18.8 93.6-12.2 28.6-29.7 54.5-51.7 76.5-21.9 22.2-48 39.8-76.7 51.9-29.2 12.4-60.3 18.6-93.4 18.6-33.3 0-64.5-6.2-93.6-18.6-28.7-12.2-54.9-29.8-76.9-51.9-27.9-27.9-48-61.4-60.2-100.4h-67.5c14 57.5 41.1 106.5 81.6 147 28 28 61 50.3 97.4 65.8 37 16 76.8 23.9 119.2 23.9 42.2 0 81.8-8 118.8-23.9 36.5-15.6 69.7-37.9 97.8-65.8 28-28 50.2-61.1 65.6-97.6 15.8-37.2 23.7-76.8 23.7-119s-7.9-81.8-23.7-119c-15.3-36.5-37.6-69.6-65.6-97.6-28.2-27.9-61.4-50.2-97.8-65.8-37-15.9-76.6-23.9-118.8-23.9-42.4 0-82.2 8-119.2 23.9-36.4 15.5-69.4 37.8-97.4 65.8-49.6 49.8-78.9 111.4-88 184.6v1.3l-.4.4v4.3l-.4.4v5.1l-.4.4v8.1h-.4l-.1 23.9zm663.1-317.8v313.6c19.4-18.2 44.8-28.5 71.4-29.1h290.9V209.1h35.9v481.5h-35.9V461.2h-292.2c-18.5 0-35 6.8-49.6 20.5-13.7 14.5-20.5 31-20.5 49.6V756h166.6V562.5h-65.4v128.2h-35.9V531.3c-.2-2.4 1.7-4.5 4.1-4.7h227V756h167.1V143.8h-167.1V363h-224.3c-2.3 0-4.6.1-6.8.4V209.1h35.9V327h65.4V143.8h-166.6z"
        />
        <path
          fill="#0D47A1"
          d="M477.4 241.7h-35.9v-32.9h310.2v32.9H512.9v514H680V342.9h-65.4v347.4h-35.9V307.5h238.4V143.4H375.7v164.1h101.7v-65.8zm360.4 76.7V546c13.7-13.4 32.1-20.8 51.3-20.8h129.4v23.5H887.9c-13 0-24.7 4.9-35.1 14.6-10 10.4-15 22.2-15 35.4v156.9h256.7V638.5H957.1v-17.4h-47v64.4h137.6V709H884.5V598.8c.2-.9.6-1.8 1.2-2.4.6-.6 1.3-.9 2.1-.9h177.3V478.6l-157.5-.9c-7.7 0-15.5.4-23.2 1.2V365h163.3v23.5H910.1v63.8h47v-16.8h137.3V318.4H837.8zM1230.6 709h-27.8l76.3-109.9-28.4-41.2L1139 719l-25.3 36.6H1255l7-10.1 73.2-105.6 46.4 66.5c9.4 13 18.5 26 27.5 39.1l7.3 10.1h141.3l-25.6-36.9-54.9-79-70.8-102.2 151.1-219.1h-141.3l-108.9 157.8c19.3 28.1 38.7 56.1 58 83.9l103 148.9h-27.8l-158.4-228.3-79.3-115.7h27.8l62.6 90.6 28.4-41.2-66.5-96.1h-141l3.1 4.6c63.3 92.2 126.5 184.1 189.8 275.9L1230.6 709zm133-233.2l76.9-110.8h27.8l-90.6 131.2-14.1-20.4z"
        />
      </svg>
      <p class="logo-desc">Технологии консалтинга и инновации</p>
      <div id="Slider" class="box3d">
        <div class="p1"></div>
        <div class="p2"></div>
        <div class="p3"></div>
        <div class="p4"></div>
        <div class="p5"></div>
        <div class="p6"></div>
      </div>
    </div>
    <div class="uk-container advantages">
      <vk-grid class="uk-grid-divider uk-child-width-expand@m" matched>
        <div
          v-for="advantage in HomeAdvantages"
          :key="advantage.index"
          class="home-advantages"
        >
          {{ advantage }}
        </div>
      </vk-grid>
    </div>
    <div class="scroll-down-container">
      <p class="">
        <i class="uk-margin-icons animate-scroll fal fa-angle-double-down"></i>
      </p>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapGetters({ HomeAdvantages: 'modules/general/HomeAdvantages' })
  },
  created() {},
  methods: {}
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/partials/logo.scss'
</style>
