<template>
  <vk-sticky
    ><nav
      class="uk-navbar-container uk-navbar-transparent uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-flex"
      vk-navbar
    >
      <div class="uk-navbar-left">
        <img
          :src="mediaUrl + Info.logo"
          class="logo"
          @click="$nuxt._router.push('/')"
        />
        <div class="contact-info">
          <p class="uk-margin-remove">
            <i class="uk-margin-icons nav-icons fal fa-globe-stand"></i
            >{{ Info.address }}
          </p>
          <p class="uk-margin-remove">
            <i class="uk-margin-icons nav-icons fal fa-mobile"></i>
            {{ Info.phone }}
          </p>
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav navbar-desktop">
          <li v-for="page in Pages" :key="page.slug">
            <a
              @click="
                $nuxt._router.push({
                  name: page.url
                })
              "
              >{{ page.title }}</a
            >
            <template
              v-if="
                page.subcategories !== null && page.subcategories !== undefined
              "
            >
              <div
                v-if="page.subcategories.length > 0"
                class="uk-nav uk-navbar-dropdown-nav"
              >
                <div v-for="sub in page.subcategories" :key="sub.slug">
                  <p v-if="sub.visible != false" class="nav-link">
                    <i class="fal fa-code-commit" />
                    <a
                      class="uk-button-text"
                      @click="
                        $nuxt._router.push({
                          name: page.url,
                          params: { pageTitle: page.title },
                          query: { category: sub.name }
                        })
                      "
                    >
                      {{ sub.name }}
                    </a>
                  </p>
                  <div v-if="sub.subcategories != null">
                    <div
                      v-for="subp in sub.subcategories"
                      :key="subp.slug"
                      class="nav-link-sub"
                    >
                      <p v-if="subp.visible != false" class="nav-link">
                        -
                        <a
                          class="uk-button-text"
                          @click="
                            $nuxt._router.push({
                              name: page.url,
                              params: { pageTitle: page.title },
                              query: { category: subp.name }
                            })
                          "
                        >
                          {{ subp.name }}
                        </a>
                      </p>
                      <div v-if="subp.subcategories != null">
                        <div
                          v-for="subpd in subp.subcategories"
                          :key="subpd.slug"
                          class="nav-link-sub"
                        >
                          <p v-if="subpd.visible != false" class="nav-link">
                            -
                            <a
                              class="uk-button-text"
                              @click="
                                $nuxt._router.push({
                                  name: page.url,
                                  params: { pageTitle: page.title },
                                  query: { category: subpd.name }
                                })
                              "
                            >
                              {{ subpd.name }}
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </li>
        </ul>
        <ul class="uk-navbar-nav navbar-mobile">
          <li>
            <a class="menu-container" @click="openMenu()">
              <MenuIcon class="menu" :class="{ menuIcon: !$parent.isMenu }" />
              <CloseIcon class="close" :class="{ closeIcon: $parent.isMenu }" />
            </a>
          </li>
        </ul>
      </div>
      <OffCanvas :pages="Pages" />
    </nav>
  </vk-sticky>
</template>

<script>
import { mapState } from 'vuex'
import MenuIcon from '~/assets/images/navigation/menu.svg?inline'
import CloseIcon from '~/assets/images/navigation/close.svg?inline'
import OffCanvas from '~/components/partials/offcanvas'
export default {
  components: {
    MenuIcon,
    CloseIcon,
    OffCanvas
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapState('modules/general', {
      Pages: (state) => state.pages,
      Info: (state) => state.info
    })
  },
  methods: {
    openMenu() {
      this.$parent.isMenu = !this.$parent.isMenu
    }
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/navigation.scss'
</style>
