<template>
  <div class="offcanvas-menu" :class="{ opened: $parent.$parent.isMenu }">
    <div class="canvas-content uk-flex uk-flex-wrap uk-flex-center">
      <ul class="offcanvas-list">
        <li v-for="page in pages" :key="page.id" class="page-item">
          <a
            @click="
              $nuxt._router.push({
                name: page.url
              }),
                ($parent.$parent.isMenu = false)
            "
          >
            <i class="fal fa-code-branch" />
            <b>{{ page.title }}</b>
          </a>
          <div
            v-if="page.subcategories"
            :key="page.subcategories.uuid"
            class="uk-nav uk-navbar-dropdown-nav"
          >
            <div v-for="sub in page.subcategories" :key="sub.slug">
              <p class="nav-link">
                <i class="fal fa-code-commit" />
                <a
                  class="uk-button-text"
                  @click="
                    $nuxt._router.push({
                      name: page.url,
                      params: { pageTitle: page.title },
                      query: { category: sub.name }
                    }),
                      ($parent.$parent.isMenu = false)
                  "
                >
                  {{ sub.name }}
                </a>
              </p>
              <div v-if="sub.subcategories" class="nav-link-sub">
                <div v-for="subp in sub.subcategories" :key="subp.slug">
                  <p class="nav-link">
                    -
                    <a
                      class="uk-button-text"
                      @click="
                        $nuxt._router.push({
                          name: page.url,
                          params: { pageTitle: page.title },
                          query: { category: subp.name }
                        }),
                          ($parent.$parent.isMenu = false)
                      "
                    >
                      {{ subp.name }}
                    </a>
                  </p>
                  <div v-if="subp.subcategories" class="nav-link-sub">
                    <div v-for="subpd in subp.subcategories" :key="subpd.slug">
                      <p class="nav-link">
                        -
                        <a
                          class="uk-button-text"
                          @click="
                            $nuxt._router.push({
                              name: page.url,
                              params: { pageTitle: page.title },
                              query: { category: subpd.name }
                            }),
                              ($parent.$parent.isMenu = false)
                          "
                        >
                          {{ subpd.name }}
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pages: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      Show: false
    }
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/offcanvas.scss'
</style>
