<template>
  <div id="about-page" class="container container">
    <Info />
  </div>
</template>

<script>
// import { mapActions } from 'vuex'
import Info from '~/components/pages/about/information'
export default {
  components: {
    Info
  },
  data() {
    return {
      Page: this.$store.state.modules.general.pages.find(
        (p) => p.url === this.$route.name
      )
    }
  },
  head() {
    return {
      title: this.Page.seo_title,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.Page.seo_title
        },
        {
          hid: 'description',
          name: 'description',
          content: this.Page.seo_description
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.Page.seo_description
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: process.env.apiUrl + this.Page.seo_image
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: process.env.apiUrl + this.Page.seo_image
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            this.$store.state.modules.general.info.name + ', ' + this.Page.seo
        }
      ]
    }
  }
}
</script>
