<template>
  <div id="home-page">
    <Logo />
    <Itc />
    <Recent />
    <Cashboxes />
    <Services />
    <News />
  </div>
</template>
<script>
import Logo from '~/components/partials/logo'
import Itc from '~/components/pages/home/itc'
import Recent from '~/components/pages/home/recent'
import Cashboxes from '~/components/pages/home/cashboxes'
import Services from '~/components/pages/home/services'
import News from '~/components/pages/home/news'
export default {
  components: {
    Logo,
    Itc,
    Recent,
    Cashboxes,
    Services,
    News
  },
  data() {
    return {
      Page: this.$store.state.modules.general.pages.find(
        (p) => p.url === this.$route.name
      )
    }
  }
  // head() {
  //   return {
  //     title: this.Page.seo_title,
  //     meta: [
  //       {
  //         hid: 'og:title',
  //         property: 'og:title',
  //         content: this.Page.seo_title
  //       },
  //       {
  //         hid: 'description',
  //         name: 'description',
  //         content: this.Page.seo_description
  //       },
  //       {
  //         hid: 'og:description',
  //         property: 'og:description',
  //         content: this.Page.seo_description
  //       },
  //       {
  //         hid: 'og:image',
  //         property: 'og:image',
  //         content: process.env.apiUrl + this.Page.seo_image
  //       },
  //       {
  //         hid: 'twitter:image',
  //         name: 'twitter:image',
  //         content: process.env.apiUrl + this.Page.seo_image
  //       },
  //       {
  //         hid: 'keywords',
  //         name: 'keywords',
  //         content:
  //           this.$store.state.modules.general.info.name + ', ' + this.Page.seo
  //       }
  //     ]
  //   }
  // }
}
</script>
