<template>
  <section id="product-item" class="container uk-container uk-container-expand">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-box" /> {{ Item.name }}</span>
    </h2>
    <!-- Main Grid -->
    <Error v-if="!Item.name" />
    <vk-grid
      v-if="Item.name"
      v-vk-height-match="{ target: '.product-container' }"
      class="uk-child-width-expand@m"
    >
      <div class="product-media product-container uk-width-1-3@m">
        <vk-card class="product-images">
          <transition name="fade" tag="img">
            <img
              v-if="Item.images"
              :key="currentImage"
              class="current-img uk-card-default"
              :src="mediaUrl + Item.images[currentImage]"
            />
          </transition>
          <div
            v-if="Item.images && Item.images.length > 1"
            class="image-selector"
          >
            <a
              v-for="(image, index) in Item.images"
              :key="image"
              class="thumb-selector"
              :class="{ activeImg: currentImage === index }"
              @click="changeCurrentImage(index)"
            >
              <img class="img-thumb" :src="mediaUrl + image" />
            </a>
          </div>
        </vk-card>
        <!-- Related Products -->
        <div
          v-if="Item.related_products && Item.related_products.length >= 1"
          class="uk-card uk-card-default uk-card-body related"
        >
          <h3 class="related-heading">
            <i class="fal fa-link" /> Связанные продукты:
          </h3>
          <vk-grid
            class="uk-child-width-expand@s uk-text-center related-padding"
          >
            <div
              v-for="item in Item.related_products.slice(0, 3)"
              :key="item.id"
              class="related-product uk-width-expand@l"
            >
              <a
                @click="
                  $nuxt._router.push({
                    path: item.slug
                  })
                "
              >
                <div class="related-card">
                  <img class="related-img" :src="mediaUrl + item.images[0]" />
                  <h4 class="related-heading-item">{{ item.name }}</h4>
                </div>
              </a>
            </div>
          </vk-grid>
        </div>
        <!-- Related Services -->
        <div
          v-if="Item.related_services && Item.related_services.length >= 1"
          class="uk-card uk-card-default uk-card-body related"
        >
          <h3 class="related-heading">
            <i class="fal fa-link" /> Связанные услуги:
          </h3>
          <vk-grid
            class="uk-child-width-expand@s uk-text-center related-padding"
          >
            <div
              v-for="item in Item.related_services.slice(0, 2)"
              :key="item.id"
              class="related-product uk-width-expand@l"
            >
              <a
                @click="
                  $nuxt._router.push({
                    path: '/services/' + item.slug
                  })
                "
              >
                <div class="related-card">
                  <img class="related-img" :src="mediaUrl + item.image" />
                  <h4 class="related-heading-item">{{ item.name }}</h4>
                </div>
              </a>
            </div>
          </vk-grid>
        </div>
      </div>
      <!-- Info Card -->
      <div class="product-info product-container">
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="part-title"><i class="fal fa-stream" /> Описание:</h3>
          <vk-grid class="info-panel uk-flex uk-flex-between@l">
            <div
              class="description uk-width-1-1 uk-width-3-5@xl"
              v-html="Item.description"
            />
            <div class="price-specifications uk-width-expand@l">
              <table
                class="uk-table uk-table-small uk-table-divider table-border uk-width-1-1 uk-table-responsive"
              >
                <tbody>
                  <tr class="table-head">
                    <th>
                      <p>
                        <i class="fal fa-coins" /><b> Цена:</b> от
                        <b>{{ Item.price }}</b> руб
                      </p>
                    </th>
                  </tr>
                  <tr v-for="(price, index) in Item.price_option" :key="price">
                    <td>
                      <b>{{ price }}</b>
                    </td>
                    <td>
                      <b>{{ Item.price_value[index] }}</b> руб
                    </td>
                  </tr>
                </tbody>
              </table>
              <SocialShare
                :title="Item.name"
                :description="Item.description"
                :hashtags="Item.tags"
              />
              <div id="buy-button" class="uk-inline uk-width-1-1">
                <vk-button class="buy-button uk-width-1-1">
                  <i class="fal fa-bags-shopping" /> Заказать
                </vk-button>
                <vk-dropdown class="uk-width-1-1">
                  <vk-nav-dropdown>
                    <li
                      v-if="
                        (Item.price_option && Item.price_option.length === 0) ||
                          !Item.price_option
                      "
                    >
                      <a @click="OpenModal()">
                        <i class="fal fa-ballot" /> {{ Item.name }}
                      </a>
                    </li>
                    <li v-for="(item, index) in Item.price_option" :key="item">
                      <a @click="OpenModal(index)"
                        ><i class="fal fa-ballot" /> {{ item }}</a
                      >
                    </li>
                  </vk-nav-dropdown>
                </vk-dropdown>
              </div>
            </div>
          </vk-grid>
        </div>
      </div>
    </vk-grid>
    <ModalWindow
      v-if="Item.price_option && Item.price_option.length !== 0"
      :itemname="Item.name"
      :itemselection="Item.price_option[Modal]"
      :itemprice="Item.price_value[Modal]"
    />
    <ModalWindow
      v-if="
        (Item.price_option && Item.price_option.length === 0) ||
          !Item.price_option
      "
      :itemname="Item.name"
      :itemprice="Item.price"
    />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ModalWindow from '~/components/partials/mixins/modal'
import SocialShare from '~/components/partials/mixins/social-share'
import Error from '~/components/partials/error'
export default {
  transition: 'item',
  components: {
    ModalWindow,
    SocialShare,
    Error
  },
  async fetch({ store, params }) {
    await store.dispatch('modules/item/get_item', params.product)
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl,
      currentImage: 0,
      Modal: 0,
      Show: false,
      OrderShow: false
    }
  },
  computed: {
    ...mapState('modules/item', {
      Item: (state) => state.data
    })
  },
  methods: {
    changeCurrentImage(value) {
      this.currentImage = value
    },
    OpenModal(value) {
      this.Modal = value
      this.Show = true
    }
  },
  head() {
    return {
      title: this.Item.seo_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            this.$store.state.modules.general.info.name +
            ' / ' +
            this.Item.seo_description
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content:
            this.$store.state.modules.general.info.name + ' / ' + this.Item.name
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content:
            this.$store.state.modules.general.info.name +
            ' / ' +
            this.Item.seo_description
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            this.$store.state.modules.general.info.name + ', ' + this.Item.tags
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: process.env.apiUrl + this.Item.seo_image
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: process.env.apiUrl + this.Item.seo_image
        }
      ]
    }
  }
}
</script>
<style lang="sass" scoped>
@import '~/assets/styles/partials/mixins/item.scss'
</style>
