<template>
  <div id="article">
    <vk-card
      class="hover-zoom"
      :style="{
        'background-image': 'url(' + mediaUrl + article.images + ')'
      }"
      hover
    >
      <vk-label slot="badge">{{ article.timestamp }}</vk-label>
      <a
        @click="
          $nuxt._router.push({
            path: '/news/' + article.slug
          })
        "
      >
        <vk-label class="uk-card-badge-bottom">
          <p><i class="fal fa-book-open"></i></p>
        </vk-label>
      </a>
      <div class="card-content uk-flex uk-flex-middle">
        <a
          class="uk-text-middle"
          @click="
            $nuxt._router.push({
              path: '/news/' + article.slug
            })
          "
        >
          <vk-card-title class="uk-margin-remove-bottom centered">
            {{ article.title }}
          </vk-card-title>
        </a>
      </div>
    </vk-card>
  </div>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/news/news-item.scss'
</style>
