@import '../../variables.scss';

.fit-cover {
  height: 180px;
}
.price {
  padding-top: 2rem;
  font-size: 1rem;
}
.price b {
  color: $primary;
}
.uk-card-title {
  font-size: 1.2rem;
  color: $primary;
}
.uk-card-body {
  font-size: .9rem;
}
.uk-card-body h3 i {
  transform: scale(1.2);
  margin-right: .5rem;
}
.description {
  min-height: 90px;
}