@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');

@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-currency_symbols.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-currency_symbols.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+20A0-20CF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-latin-1_supplement.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-latin-1_supplement.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0080-00FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-cyrillic.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-cyrillic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0400-04FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-combining_diacritical_marks.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-combining_diacritical_marks.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0300-036F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-alphabetic_presentation_forms.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-alphabetic_presentation_forms.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+FB00-FB4F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-arrows.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-arrows.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+2190-21FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-basic_latin.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-basic_latin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-latin_extended-b.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-latin_extended-b.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0180-024F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-latin_extended_additional.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-latin_extended_additional.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+1E00-1EFF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-latin_extended-a.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-latin_extended-a.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0100-017F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-greek_and_coptic.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-greek_and_coptic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-mathematical_operators.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-mathematical_operators.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+2200-22FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-general_punctuation.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-general_punctuation.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+2000-206F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('https://fontstorage.com/st/vladivostok/400-letterlike_symbols.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/400-letterlike_symbols.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+2100-214F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-currency_symbols.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-currency_symbols.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+20A0-20CF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-latin-1_supplement.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-latin-1_supplement.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0080-00FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-cyrillic.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-cyrillic.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0400-04FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-combining_diacritical_marks.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-combining_diacritical_marks.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0300-036F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-alphabetic_presentation_forms.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-alphabetic_presentation_forms.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+FB00-FB4F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-arrows.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-arrows.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+2190-21FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-basic_latin.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-basic_latin.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-latin_extended-b.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-latin_extended-b.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0180-024F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-latin_extended_additional.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-latin_extended_additional.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+1E00-1EFF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-latin_extended-a.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-latin_extended-a.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0100-017F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-greek_and_coptic.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-greek_and_coptic.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-mathematical_operators.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-mathematical_operators.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+2200-22FF;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-general_punctuation.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-general_punctuation.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+2000-206F;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('https://fontstorage.com/st/vladivostok/700-letterlike_symbols.woff2') format('woff2'), url('https://fontstorage.com/st/vladivostok/700-letterlike_symbols.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+2100-214F;
}