<template>
  <section id="cashboxes" class="uk-container uk-container-expand">
    <h2 class="uk-heading-line uk-text-center">
      <span><i class="fal fa-cash-register" /> Онлайн-кассы</span>
    </h2>
    <vk-grid matched class="uk-child-width-1-2@l uk-text-center">
      <CashboxItem
        v-for="cashbox in recentCashboxes"
        :key="cashbox.id"
        :cashbox="cashbox"
      />
    </vk-grid>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import CashboxItem from '~/components/pages/cashboxes/cashboxes-item'
export default {
  components: {
    CashboxItem
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapGetters({ recentCashboxes: 'modules/cashboxes/recent' })
  },
  created() {
    this.getCashboxes()
  },
  methods: {
    ...mapActions({
      getCashboxes: 'modules/cashboxes/get_cashboxes'
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/home/cashboxes.scss'
</style>
