<template>
  <section id="itc" class="uk-container uk-container-expand">
    <div class="uk-flex uk-flex-center uk-flex-middle itc-block">
      <vk-card v-if="ItcBlock" class="itc-description uk-text-left">
        <vk-card
          class="fit-cover"
          :style="{
            'background-image': 'url(' + mediaUrl + ItcBlock.image + ')'
          }"
        ></vk-card>
        <vk-card-title class="uk-heading-bullet">
          <i class="fal fa-box-alt" /> 1C:ИТС
          <select v-model="itcPrice" class="uk-select uk-form-width-medium">
            <option
              v-for="(option, index) in ItcBlock.price_option"
              :key="option"
              :value="index"
            >
              {{ option }}
            </option>
          </select></vk-card-title
        >
        <transition name="fade" tag="div">
          <div :key="itcPrice" class="price">
            <p>Цена:</p>

            <p class="price-value">{{ ItcBlock.price_value[itcPrice] }} руб</p>
          </div>
        </transition>
        <p class="uk-text-justify">
          {{ stripHtml(ItcBlock.description) }}
        </p>
        <vk-button-link
          type="secondary"
          @click="$nuxt._router.push(ItcBlock.link)"
        >
          Подробнее
        </vk-button-link>
      </vk-card>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import Tools from '~/components/tools/stripHTML'
export default {
  data() {
    return {
      itcPrice: 0,
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapGetters({ ItcBlock: 'modules/general/ItcBlock' })
  },
  methods: {
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/home/itc.scss'
</style>
