<template>
  <section id="news" class="uk-container uk-container-expand">
    <h2 class="uk-heading-line uk-text-left">
      <span><i class="fal fa-newspaper" /> Последние Новости</span>
    </h2>
    <vk-grid matched class="uk-child-width-1-3@l uk-text-center">
      <NewsItem
        v-for="article in News.slice(0, 3)"
        :key="article.slug"
        :article="article"
      />
    </vk-grid>
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import NewsItem from '~/components/pages/news/news-item'
import Tools from '~/components/tools/stripHTML'
export default {
  components: {
    NewsItem
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapState('modules/news', {
      News: (state) => state.list
    })
  },
  created() {
    this.getNews()
  },
  methods: {
    ...mapActions({
      getNews: 'modules/news/get_news'
    }),
    stripHtml(value) {
      return Tools.strippedContent(value)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/home/news.scss'
</style>
