<template>
  <section id="recent" class="uk-container uk-container-expand">
    <vk-grid
      class="uk-flex-center uk-child-width-1-3@l uk-text-center uk-grid-divider uk-padding-small"
      matched
    >
      <div>
        <h2 class="uk-heading-line uk-text-right">
          <span><i class="fal fa-heat" /> Популярные продукты</span>
        </h2>
        <vk-grid gutter="small" class="uk-text-right">
          <vk-grid
            v-for="rec_product in Products.slice(0, 3)"
            :key="rec_product.slug"
            class="uk-card uk-card-default uk-grid-collapse uk-margin-small uk-flex-middle uk-flex-wrap"
          >
            <div
              class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-4@s"
            >
              <vk-label v-if="rec_product.vendor" slot="badge">{{
                rec_product.vendor
              }}</vk-label>
              <img
                class="fit-cover"
                :src="mediaUrl + rec_product.images[0]"
                :alt="rec_product.name"
              />
            </div>
            <div class="uk-width-3-4@s">
              <div class="uk-card-body">
                <a
                  @click="
                    $nuxt._router.push({
                      path: '/products/' + rec_product.slug
                    })
                  "
                >
                  <h3 class="uk-card-title uk-heading-bullet-right">
                    {{ rec_product.name }}
                  </h3>
                </a>
                <p>
                  <b>Цена:</b>
                  <span class="price"> от {{ rec_product.price }} </span>
                  <b>руб.</b>
                </p>
              </div>
            </div>
          </vk-grid>
        </vk-grid>
      </div>
      <div class="home-description">
        <h2 class="uk-heading-line uk-text-center">
          <span><i class="fal fa-city" /> О компании</span>
        </h2>
        <div class="">
          <p v-html="HomeRecent"></p>
        </div>
      </div>
      <div>
        <h2 class="uk-heading-line uk-text-left">
          <span>Популярные услуги <i class="fal fa-heat"/></span>
        </h2>
        <vk-grid gutter="small" class="uk-text-left">
          <vk-grid
            v-for="rec_service in Services.slice(0, 3)"
            :key="rec_service.slug"
            class="uk-card uk-card-default uk-grid-collapse uk-margin-small uk-flex-middle uk-flex-wrap"
          >
            <div
              class="uk-flex-start@s uk-card-media-right uk-cover-container uk-width-1-4@s"
            >
              <img
                class="fit-cover"
                :src="mediaUrl + rec_service.image"
                :alt="rec_service.name"
              />
            </div>
            <div class="uk-width-3-4@s">
              <div class="uk-card-body">
                <a
                  @click="
                    $nuxt._router.push({
                      path: '/services/' + rec_service.slug
                    })
                  "
                >
                  <h3 class="uk-card-title uk-heading-bullet">
                    {{ rec_service.name }}
                  </h3>
                </a>
                <p>
                  <b>Цена:</b>
                  <span class="price">от {{ rec_service.price }} </span>
                  <b>руб.</b>
                </p>
              </div>
            </div>
          </vk-grid>
        </vk-grid>
      </div>
    </vk-grid>
  </section>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
export default {
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapState('modules/products', {
      Products: (state) => state.list.filter((p) => p.recent === true)
    }),
    ...mapState('modules/services', {
      Services: (state) => state.list.filter((s) => s.recent === true)
    }),
    ...mapGetters({ HomeRecent: 'modules/general/RecentText' })
  },
  created() {
    this.getServices()
    this.getProducts()
  },
  methods: {
    ...mapActions({
      getServices: 'modules/services/get_services',
      getProducts: 'modules/products/get_products'
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/home/recent.scss'
</style>
