<template>
  <section id="services" class="uk-container uk-container-expand">
    <h2 class="uk-heading-line uk-text-right">
      <span><i class="fal fa-lamp-desk" /> Наши Услуги</span>
    </h2>
    <vk-grid
      v-vk-height-match="{ target: 'p.description' }"
      class="uk-child-width-1-3@l uk-text-center"
    >
      <ServiceItem
        v-for="service in Services.slice(0, 3)"
        :key="service.slug"
        :service="service"
      />
    </vk-grid>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ServiceItem from '~/components/pages/services/service-item'
export default {
  components: {
    ServiceItem
  },
  data() {
    return {
      mediaUrl: process.env.apiUrl
    }
  },
  computed: {
    ...mapState('modules/services', {
      Services: (state) => state.list
    })
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/styles/pages/home/services.scss'
</style>
