@import '../../variables.scss';

///Card Inspiration
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cashbox-image {
  max-height: 200px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.cashbox-card {
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 450px;
}
.cashbox-card aside {
  position: relative;
}
.cashbox-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cashbox-card aside .button {
  display: inline-block;
  position: absolute;
  color: $primary;
  background: transparent;
  top: 2rem;
  right: 4%;
  width: 4em;
  height: 4em;
  line-height: 4.2em;
  text-align: center;
  z-index: 2;
  opacity: 1;
  transition: all .4s ease, transform .3s ease, opacity .2s ease-in;
  transform: scale(.8);
}
.cashbox-card aside .button .icon {
  vertical-align: middle;
}
.cashbox-card article {
  padding: 1.25em 1.5em;
}
.cashbox-card article ul {
  list-style: none;
  padding: 0;
}
.cashbox-card article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.cashbox-card article ul li:first-child {
  margin-left: 0;
}
.cashbox-card article ul li .icon {
  vertical-align: bottom;
}
.cashbox-card article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
}
.cashbox-card article h2,
.cashbox-card article h3 {
  margin: 0;
  font-weight: 300;
}
.cashbox-card article h2 {
  font-size: 1.75em;
}
.cashbox-card article h3 {
  font-size: 0.9375em;
}
.cashbox-card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
}
.cashbox-card article p span {
  font-weight: 700;
}
.cashbox-card article .ingredients {
  margin: 2em 0 0.5em;
}
.cashbox-text, .cashbox-text span, .cashbox-text.p{
}
.quick-info {
  margin: 2rem 0;
}
.quick-info i {
  margin-right: .4rem;
  color: $primary;
}
.icon-button {
  background: $primary-alt;
  color: $font-color-white;
}
.cashbox-table{
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 1;
  background: #fff;
  opacity:0;
  transform: translateY(50px);
  transition: transform .3s ease, opacity .2s ease-in;
  box-shadow: 0 -14px 25px rgba(0, 0, 0, 0.16);
}
.cashbox-card:hover > .cashbox-table {
  opacity: 1;
  transform: translateY(0px);
  transition: transform .3s ease, opacity .2s ease-in;
}

.cashbox-card:hover .button{
  transform: scale(1);
  opacity: 1;
  background: $primary;
  color: $font-color-white;
  transition: all .4s ease, transform .3s ease, opacity .2s ease-in;
}
.icon-button > i {
  font-size: 1.4rem;
}