@import "../variables.scss";
b {
  color: #fff;
}
// Navigation component
img {
  transform: translateY(-10px);
}
#footer {
  padding-top: 2rem;
}
.footer-content {
  padding: 4% 8% 4% 8%;
}
.footer-content-padding {
  padding-top: 1.5rem
}
.uk-nav-primary > li > a {
  font-size: 1.1rem;
}
.uk-background-primary {
  background: $primary-transparent;
}
.footer-heading {
  // text-transform: uppercase;
  font-size: 2rem;
}
.footer-heading i {
  transform: translateY(.15rem);
  margin-right: .5rem;
}
.footer-navigation {
  margin: auto;
}
.footer-logo {
  padding: 0 1rem;
}
.contact-content {
  height: 100%;
}
.contact-content p {
  width: 100%;
}
.contact-line {
  line-height: 2;
}
.contact-line i {
  margin-right: .5rem;
  transform: scale(1.3);
}
.uk-grid-divider.divider-hidden > :not(.uk-first-column)::before {
  border-left: none;
}

.social-grid {
  padding: 1.2rem 1.2rem 0rem 1.2rem;
  justify-content: space-between;
  width: 100%;
}

.social-grid svg {
  width: 28px;
  height: 28px;
  fill: $font-color-white;
  transition: transform .2s ease-out, fill .2s ease-in;
  transform: scale(1);
}
.social-grid a:hover > svg {
  fill: $danger;
  transform: scale(.9);
  transition: transform .2s ease-out, fill .2s ease-in;
}

// SUBFOOTER
.sub-footer {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  color: $font-color-white;
  background: $primary;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer-heads {
      display: none !important;
  }
  .footer-logo {
    height: 80px;
    padding: 0;
    padding-left: 30px;
  }
  .uk-grid-divider > * {
    padding-left: 80px;
}
}