@import '../variables.scss';
$border-color: #FFEB3B;
$border-size: 15px;
$fill: #FDD835;

// LOGO
.box-container {
  width: 1143px;
  position: relative;
  margin: calc(50vh - 212px) auto 0 auto;
}
.box3d {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
}
.svglogo {
  z-index: 1;
  width: 100%;
  position: absolute;
  margin: -3.5rem 0 0;
}
.logo-desc{
position: absolute;
right: 34px;
bottom: -42px;
font-size: 1.4rem;
font-weight: 400;
}
.scroll-down-container {
  display: flex;
  overflow: hidden;
  margin: 6rem 0 6rem 0;
  height: 90px;
  text-transform: uppercase;
  justify-content: center;
}

.box3d div {
  position: absolute;
  left: 0%;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 1;
  margin-left: -180%;
  transform-origin: 50% 50% -100px;
}

.p1 {
  background: $fill;
  border: $border-size solid $border-color;
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  animation: spin1 10s infinite linear;
}

.p2 {
  background: $fill;
  border: $border-size solid $border-color;
  animation: spin2 10s infinite linear;
}

.p3 {
  background: $fill;
  border: $border-size solid $border-color;
  animation: spin3 10s infinite linear;
}

.p4 {
  background: $fill;
  border: $border-size solid $border-color;
  animation: spin4 10s infinite linear;
}

.p5 {
  background: $fill;
  border: $border-size solid $border-color;
  animation: spin5 10s infinite linear;
}

.p6 {
  background: $fill;
  border: $border-size solid $border-color;
  animation: spin6 10s infinite linear;
}


// ANIMATION
.animate-scroll {
	animation: slide-out-blurred-bottom 1s cubic-bezier(0.755, 0.050, 0.855, 0.755) infinite alternate-reverse both;
}
 @keyframes slide-out-blurred-bottom {
  0% {
    transform: translateY(0px) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(12px) scaleY(1.3) scaleX(.7);
    transform-origin: 50% 50%;
    filter: blur(0.4px);
    opacity: 0.9;
  }
}



/* for Safari and Chrome */
/* for IE10 and Firefox */
@keyframes spin1 {
  to {
    transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg);
  }
}
@keyframes spin3 {
  0% {
    transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg);
  }
}
@keyframes spin4 {
  0% {
    transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes spin5 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes spin6 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg);
  }
}
// Blocks Modification
.scroll-down-container {
  font-size: 2rem;
  color: $primary;
}

@media screen and (max-width: 1430px) {
 #Slider {
   display: none;
 }
 .svglogo {
   position: relative;
 }
 .logo-desc {
  position: absolute;
  bottom: 0px;
  font-size: 1.4rem;
  font-weight: 400;
}
 .box-container {
  width: 1143px;
  width: 100%;
  position: relative;
  margin: calc(50vh - 242px) auto 0 auto;
}
.advantages {
  padding-top: 2rem;
}
 }
 @media screen and (max-width: 700px) {
  .logo-desc {
   position: relative;
   right: 0;
   bottom: 10px;
   font-size: .9rem;
   font-weight: 400;
   width: 100%;
   text-align: right;
   padding-right: 1rem;
 }
  }
 @media screen and (max-width: 480px) {
  .logo-desc {
   position: relative;
   right: 0;
   bottom: 0px;
   font-size: .8rem;
   font-weight: 400;
   width: 100%;
   text-align: right;
   padding-right: 1rem;
 }
 .box-container {
  margin: 10vh auto 0 auto;
}
  }
