@import "../variables.scss";
// Navigation component
.logo {
  width: 170px;
  height: 46px;
  cursor: pointer;
}
.uk-navbar-container {
  z-index: 1100;
}
.uk-sticky-fixed {
  background: transparent;
  transition: all 0.5s ease-out;
}
.uk-sticky-below {
  background: #fff;
  transition: all 0.3s ease-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  font-family: "Vladivostok";
}

.uk-navbar-nav  li:hover > a,
.uk-navbar-nav  li  a:focus,
.uk-navbar-nav  li  a.uk-open {
  color: $primary;
}
.nav-link {
  line-height: 1.8;
}
.nav-link > a {
  color: #999;
  text-decoration: none;
}
.nav-link-sub {
  padding-left: 1.2rem;
}

.nav-link-sub a {
  font-weight: 400;
}

.nav-link:hover > a, .nav-link:hover > i {
  color: $primary;
}
.uk-button-text::before {
  border-color: $primary;
}
.contact-info {
  font-size: 90%;
  color: $font-color;
}
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  // font-family: $font;
  font-weight: 600;
}
.nav-icons {
  color: $primary;
}
.uk-margin-icons {
  margin: 0rem 0.5rem 0rem 1rem;
  color: $primary;
}
// Submenu
.uk-navbar-dropdown-nav {
  pointer-events: none;
  font-size: 14px;
  width: 300px;
  position: absolute;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  opacity: 0;
  z-index: 2;
  transition-delay: .1s;
  transition: opacity .3s ease-in-out, transform .4s ease-out;
  transform: translateX(-15px);
}
.uk-navbar-nav > li:hover > .uk-navbar-dropdown-nav {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0px);
  transition: opacity .3s ease-in-out, transform .4s ease-out;
}
.uk-navbar-dropdown-nav > li > a:hover, .uk-navbar-dropdown-nav > li > a:focus {
  color: $primary;
}
.uk-button-text{
  font-weight: $bold;
}

// OffCanvas Menu

.menu-container {
  width: 55px;
}
.menu-container svg {
  width: 30px;
}

.navbar-mobile {
  display: none;
}
// Animate
.menu {
  position: absolute;
}

.menu path {
  transform-origin: left;
  transform: matrix(0.001,0.00,0.00,1.00,0,0);
  transition: transform .2s ease-in, fill .2s ease-in;;
}
.menu .first {
  transition-delay: .25s;
}
.menu .second {
  transition-delay: .1s;
}
.menu .dot {
  transition-delay: .44s;
}
.menu .last {
  transition-delay: .35s;
}

.menuIcon path {
  transform: matrix(1.001,0.00,0.00,1.00,0,0);
  transition: transform .2s ease-out, fill .2s ease-in;
}

.menuIcon .first {
  transition-delay: .35s;
}
.menuIcon .second {
  transition-delay: .45s;
}
.menuIcon .dot {
  transition-delay: .2s;
}
.menuIcon .last {
  transition-delay: .55s;
}

.close {
  position: absolute;
}

.close .close-back {
  transform-origin: center;
  transform: scale(0);
  transition: all .2s ease-in;
}
.close .cross {
  transform-origin: center;
  transform: scale(0);
  transition: all .2s ease-in;
}


.closeIcon .close-back {
  transform: scale(1);
  transition-delay: .4s;
}
.closeIcon .cross {
  transform: scale(1.05);
  transition-delay: .6s;
}




@media screen and (max-width: 1100px) {
  .navbar-mobile {
    display: block;
  }
  .navbar-desktop {
    display: none;
  }
}
@media screen and (max-width: 510px) {
 .contact-info {
   display: none;
 }
}