@import "../variables.scss";

// OffCanvas
a {
  text-decoration: none;
}
.uk-offcanvas-overlay .uk-offcanvas-content {
  position: fixed;
}

.offcanvas-menu {
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
  left:0;
  position: fixed;
  z-index: 1101;
  background: transparent;
  transform: matrix(1.00,0.00,0.00,0.00001,0,0);
  // transform-origin: bottom;
  // transition: transform .4s ease-in, background .8s cubic-bezier(1,0,.57,.86);
  transition-delay: .3s;
}
.opened {
  transform:matrix(1.00,0.00,0.00,1,0,0);
  // transition: transform .4s ease-in, background .8s cubic-bezier(1,0,.57,.86);
  background: transparent;
}
.canvas-content {
  opacity: 0;
  height: 100%;
  transform: translateY(-10px);
  transition: transform .3s ease-in, opacity .2s ease;
}

.opened .canvas-content  {
  opacity: 1;
  transform: translateY(0px);
  transition: transform .3s ease-in, opacity .2s ease;
  transition-delay: .7s;
}

// MENU
.offcanvas-list {
  padding: 3rem;
  list-style: none;
  height: 100%;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
}
.uk-navbar-nav p {
  width: 100%;
}

.page-item {
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.page-item a {
  color: $primary;
}
.page-item p {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.page-item p a {
  color: #666;
}

.nav-link-sub {
  padding-left: 1.2rem;
}